.site-description {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}
.dropdown-menu {
    min-width: 300px;
    padding: 1rem;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #110dfd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.text-light{
    color: white;
}